body {
  margin: 0px;
  overflow: hidden;

  --screen-width: 100vw;
  --screen-height: 100vh;
}

.heading-primary {
  color: #4e4e4e;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.heading-secondary {
  color: #4e4e4e;
  font-family: "Poppins", sans-serif;
}

.heading-tertiary {
  color: #4e4e4e;
  font-family: "Poppins", sans-serif;
}

.heading-quaternary {
  color: #4e4e4e;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
