body {
  --screen-width: 100vw;
  --screen-height: 100vh;

  --gradient-top: white;
  --gradient-bottom: white;
  --text-color: black;

  margin: 0px;
  overflow: hidden;
  font-family: Lato, sans-serif;
  background-image: linear-gradient(var(--gradient-top), var(--gradient-bottom));
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
