.app {
  display: grid;
  grid-template-rows: auto 1fr;
  width: var(--screen-width);
  height: var(--screen-height);
}

.screen-container {
  display: grid;
  grid-template-columns: repeat(3, var(--screen-width));
  overflow-x: auto;
}
