.app {
  display: grid;
  grid-auto-flow: column;
  width: var(--screen-width);
  height: var(--screen-height);
  overflow-x: auto;
}

.heading-primary {
  color: #4e4e4e;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.heading-secondary {
  color: #4e4e4e;
  font-family: "Poppins", sans-serif;
}

.heading-tertiary {
  color: #4e4e4e;
  font-family: "Poppins", sans-serif;
}

.heading-quaternary {
  color: #4e4e4e;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
